<a href="https://colab.research.google.com/github/cdivy/git_test/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import pandas as pd
import numpy as np

In [99]:
data = pd.read_csv('/content/CarPrice_project.csv')
data

     car_ID  symboling                   CarName  ... citympg highwaympg    price
0         1          3        alfa-romero giulia  ...      21         27  13495.0
1         2          3       alfa-romero stelvio  ...      21         27  16500.0
2         3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3         4          2               audi 100 ls  ...      24         30  13950.0
4         5          2                audi 100ls  ...      18         22  17450.0
..      ...        ...                       ...  ...     ...        ...      ...
200     201         -1           volvo 145e (sw)  ...      23         28  16845.0
201     202         -1               volvo 144ea  ...      19         25  19045.0
202     203         -1               volvo 244dl  ...      18         23  21485.0
203     204         -1                 volvo 246  ...      26         27  22470.0
204     205         -1               volvo 264gl  ...      19         25  22625.0

[205 rows x 26 columns]

In [100]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   wheelbase         205 non-null    float64
 1   curbweight        205 non-null    int64
 2   enginesize        205 non-null    int64
 3   compressionratio  205 non-null    float64
 4   horsepower        205 non-null    int64
 5   peakrpm           205 non-null    int64
 6   citympg           205 non-null    int64
 7   highwaympg        205 non-null    int64
 8   price             205 non-null    float64
 9   carVolume         205 non-null    float64
 10  engineBore        205 non-null    float64
dtypes: float64(5), int64(6)
memory usage: 17.7 KB

In [101]:
data.describe()

           car_ID   symboling   wheelbase  ...     citympg  highwaympg         price
count  205.000000  205.000000  205.000000  ...  205.000000  205.000000    205.000000
mean   103.000000    0.834146   98.756585  ...   25.219512   30.751220  13276.710571
std     59.322565    1.245307    6.021776  ...    6.542142    6.886443   7988.852332
min      1.000000   -2.000000   86.600000  ...   13.000000   16.000000   5118.000000
25%     52.000000    0.000000   94.500000  ...   19.000000   25.000000   7788.000000
50%    103.000000    1.000000   97.000000  ...   24.000000   30.000000  10295.000000
75%    154.000000    2.000000  102.400000  ...   30.000000   34.000000  16503.000000
max    205.000000    3.000000  120.900000  ...   49.000000   54.000000  45400.000000

[8 rows x 16 columns]

In [102]:
final_data = data[['wheelbase','carlength', 'carwidth', 'carheight', 'curbweight',
       'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price']]

In [103]:
X = final_data.drop(columns = ['price'])
y = final_data['price']

In [104]:
final_data

     wheelbase  carlength  carwidth  ...  citympg  highwaympg    price
0         88.6      168.8      64.1  ...       21          27  13495.0
1         88.6      168.8      64.1  ...       21          27  16500.0
2         94.5      171.2      65.5  ...       19          26  16500.0
3         99.8      176.6      66.2  ...       24          30  13950.0
4         99.4      176.6      66.4  ...       18          22  17450.0
..         ...        ...       ...  ...      ...         ...      ...
200      109.1      188.8      68.9  ...       23          28  16845.0
201      109.1      188.8      68.8  ...       19          25  19045.0
202      109.1      188.8      68.9  ...       18          23  21485.0
203      109.1      188.8      68.9  ...       26          27  22470.0
204      109.1      188.8      68.9  ...       19          25  22625.0

[205 rows x 14 columns]

In [105]:
final_data = final_data.copy()
final_data['carVolume'] = final_data['carlength'] * final_data['carwidth'] * final_data['carheight'] 
final_data['engineBore'] = final_data['boreratio'] * final_data['stroke']
final_data.drop(columns=['carlength','carwidth','carheight','boreratio','stroke'],axis=1,inplace=True)

final_data

     wheelbase  curbweight  enginesize  ...    price   carVolume  engineBore
0         88.6        2548         130  ...  13495.0  528019.904      9.2996
1         88.6        2548         130  ...  16500.0  528019.904      9.2996
2         94.5        2823         152  ...  16500.0  587592.640      9.2996
3         99.8        2337         109  ...  13950.0  634816.956     10.8460
4         99.4        2824         136  ...  17450.0  636734.832     10.8460
..         ...         ...         ...  ...      ...         ...         ...
200      109.1        2952         141  ...  16845.0  721961.760     11.9070
201      109.1        3049         141  ...  19045.0  720913.920     11.9070
202      109.1        3012         173  ...  21485.0  721961.760     10.2746
203      109.1        3217         145  ...  22470.0  721961.760     10.2340
204      109.1        3062         141  ...  22625.0  721961.760     11.9070

[205 rows x 11 columns]

In [106]:
from sklearn.model_selection import train_test_split
train_X, val_X,train_y, val_y = train_test_split(X,y, test_size = 0.2,random_state=1)

In [107]:
train_X.shape

(164, 13)

In [108]:
train_y.shape

(164,)

In [109]:
val_X.shape

(41, 13)

In [110]:
val_y.shape

(41,)

In [111]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=1)

In [112]:
model.fit(train_X,train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [113]:
predictions = model.predict(val_X)

In [114]:
val_y[0:5]

78      6669.0
97      7999.0
151     6338.0
44      8916.5
40     10295.0
Name: price, dtype: float64

In [115]:
predictions[0:5]

array([7150.5, 7349. , 6938. , 6295. , 8845. ])

In [116]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(val_y,predictions)
print(mae)

1567.4268292682927

In [117]:
from sklearn.metrics import mean_absolute_error



def my_mae(max_leaf_nodes,train_X, val_X,train_y, val_y):
  train_X, val_X,train_y, val_y = train_test_split(X,y, test_size = 0.2,random_state=1)
  model = DecisionTreeRegressor(max_leaf_nodes = max_leaf_nodes,random_state=1)
  model.fit(train_X,train_y)
  predictions = model.predict(val_X)
  mae = mean_absolute_error(val_y,predictions)
  return mae

In [118]:
for item in [5,10,20,50,100,500,5000,10000,20000]:
  mae_value = my_mae(item, train_X, val_X, train_y, val_y)
  print(f'max leaf nodes: {item}  \t\t   mae value: {mae_value}')

max leaf nodes: 5  		   mae value: 2190.4133097753197
max leaf nodes: 10  		   mae value: 1966.8307954791312
max leaf nodes: 20  		   mae value: 1790.5308862830937
max leaf nodes: 50  		   mae value: 1700.4451509872238
max leaf nodes: 100  		   mae value: 1589.0075493612078
max leaf nodes: 500  		   mae value: 1538.7682926829268
max leaf nodes: 5000  		   mae value: 1538.7682926829268
max leaf nodes: 10000  		   mae value: 1538.7682926829268
max leaf nodes: 20000  		   mae value: 1538.7682926829268